__pycache__/                                                                                                       echo *.pyc                                                                                                              echo dashboard/logs-*.txt                                                                                               
