streamlit                                                                                                          echo plotly                                                                                                             echo pandas                                                                                                             echo openpyxl                                                                                                           echo numpy                                                                                                              echo sciket-learn                                                                                                       
